{% extends 'baseblog.html' %}
{% load static %}

{% block content %}

    <div class="featured-wrap">
        <div class="featured-image-wrap">
            <div class="featured-image" style="background-image: url('https://images.unsplash.com/photo-1501983580222-e073379fe976?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=5c39e4618a773a6c257cf9336b1a8f02')"></div>
        </div>
        <article class="featured-post-wrap">
            <div class="featured-post-label rotate">öne Çıkan</div>

            {% if post_last %}
                <h2><a href="{{ post_last.get_absolute_url }}">{{ post_last.title }}</a></h2>
                <div class="item-meta post">
                    <a href="author/patricia/index.html" class="author-image item-image" style="background-image: url('content/images/2017/11/averie-woodard-181273.jpg')"></a>
                    <a href="">{{ post_last.author }}</a>
                    <br>
                    <time datetime="2017-02-05"> Yayınlanma tarihi {{ post_last.published_date}}</time>
                </div>
            {% endif %}

            <div class="featured-list">

                <div class="featured-list-label rotate">Daha Fazla</div>

                <section class="featured-list-posts first">
                </section>

                {% for post in post_last_three %}
                <section class="featured-list-posts ">
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                </section>
                {% endfor %}
            </div>
        </article>
    </div>
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="item post tag-architecture tag-interior tag-photography">
                {% if post_six %}
                <article class="appear">
                    <div class="item-container first">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    <a class="item-image" href="if-you-do-it-right-it-will-last-forever/index.html">
                                        <img src="https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=9a4efd74e24cc3378bad17d3659db7a5" alt="If you do it right, it will last forever">
                                    </a>
                                </div>
                        </div>
                        <header class="item-description">
                            <h2><a href="{{ post_six.get_absolute_url }}">{{ post_six.title }}</a></h2>
                            <div class="item-excerpt">
                                <p>{{ post_six.text|safe|truncatewords:25 }}</p>
                            </div>
                            <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/sung-wang-209324.jpg')"></a>
                                    <a href="">{{ post_six.user }}</a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_six.published_date }}"> {{ post_six.published_date| timesince }} önce</time>
                                </div>
                        </header>
                    </div>
                </article>
                {% endif %}
            </div>
            <div class="item post tag-typography tag-hash-list tag-hash-blue color">
                <article class="appear">
                        <div class="item-container">
                            <header class="item-description">
                                <h2><a href="{{ post_five.get_absolute_url }}">{{ post_five.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{ post_five.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/peter-sjo-201640.jpg')"></a>
                                    <a href="">{{ post_five.user }}</a>  tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_five.published_date }}"> {{ post_five.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                    </article>
            </div>
            <div class="item post tag-art tag-exhibition">
                <article class="appear">
                    <div class="item-container">
                        <div class="item-container-img">
                            <div class="appear-img">
                                <a class="item-image" href="photography-monographs-and-exhibition-catalogs/index.html">
                                        <img src="https://images.unsplash.com/photo-1458240598330-ccda17524e5c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=e1139e7a218d5b82ed0154048e044475" alt="Photography monographs and exhibition catalogs">
                                    </a>
                            </div>
                        </div>
                        <header class="item-description">
                                <h2><a href="{{ post_four.get_absolute_url }}">{{post_four.title  }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{ post_four.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/allef-vinicius-167640.jpg')"></a>
                                    <a href="">{{ post_four.user }} </a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_four.published_date|timesince }}"> {{ post_four.published_date |timesince }} önce</time>
                                </div>
                            </header>
                    </div>
                </article>
            </div>
            <div class="item post tag-typography tag-design tag-hash-red tag-hash-list color">
                <article class="appear">
                    <div class="item-container">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    <a class="item-image" href="less-is-more-work/index.html">
                                        <img src="https://images.unsplash.com/photo-1476630789082-d055dc81447c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=6f76496ae64a49fe0d7b6b99a299e911" alt="Less is more work">
                                    </a>
                                </div>
                            </div>
                        <header class="item-description">
                                <h2><a href="{{ post_three.get_absolute_url }}">{{ post_three.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p> {{ post_three.text| safe | truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/sung-wang-209324.jpg')"></a>
                                    <a href="">{{ post_three.user }} tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_three.published_date}}"> {{ post_three.published_date|timesince }} önce</time>
                                </div>
                            </header>
                    </div>
                </article>
            </div>
            <div class="item post tag-hash-yellow color">
                <article class="appear">
                        <div class="item-container">
                            <header class="item-description">
                                <h2><a href="{{ post_two.get_absolute_url }}">{{ post_two.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{post_two.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/hosien-azour-447571.jpg')"></a>
                                    <a href="">{{ post_two.user }}</a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_two.published_date }}"> {{ post_two.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                    </article>
            </div>
            <div class="item post tag-interior featured">
                <article class="appear">
                    <div class="item-container last">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    <a class="item-image" href="the-details-are-not-the-details-they-make-the-design/index.html">
                                        <img src="https://images.unsplash.com/photo-1501983580222-e073379fe976?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;s=5c39e4618a773a6c257cf9336b1a8f02" alt="The details are not the details, they make the design">
                                    </a>
                                </div>
                            </div>
                        <header class="item-description">
                            <h2><a href="{{ post_one.get_absolute_url }}">{{ post_one.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{ post_one.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('content/images/2017/11/averie-woodard-181273.jpg')"></a>
                                    <a href="">{{ post_one.user }} </a> tarafından yazıldı
                                    <br>
                                    <time datetime="2{{ post_one.published_date }}">{{ post_one.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                </article>
            </div>
        </div>

    </div>
    <div class="pagination-wrap" role="navigation">
                    <a class="older-posts" href="page/2/index.html">Diğer Yazılar</a>
    </div>

{% endblock %}