{% extends 'baseblog.html' %}
{% load static %}

{% block content %}

    <div class="featured-wrap">
        <div class="featured-image-wrap">
            <div class="featured-image" style="background-image: url('{%  static 'images/IMG_20170625_164118-01.jpeg' %}');margin-left: 20px; width: 700px;height: 400px"></div>
        </div>
        <article class="featured-post-wrap">
        {% if post_last %}
            <div class="featured-post-label rotate">En Son</div>
            <h2><a href="{{ post_last.get_absolute_url }}">{{ post_last.title }}</a></h2>
            <div class="item-meta post">
                <a href="http://www.sumeyyeozkaynak.me/hakkimda" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                <a href="http://www.sumeyyeozkaynak.me/hakkimda">{{ post_last.author }}</a>
                <br>
                <time datetime="2017-02-05"> Yayınlanma tarihi {{ post_last.published_date}}</time>
            </div>
        {% endif %}
         <div class="featured-list">

                <div class="featured-list-label rotate">Daha Fazla</div>

                <section class="featured-list-posts first">
                </section>

                {% for post in post_last_three %}
                <section class="featured-list-posts ">
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                </section>
                {% endfor %}
            </div>
        </article>
    </div>
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="item post tag-architecture tag-interior tag-photography">
                {% if post_six %}
                <article class="appear">
                    <div class="item-container first">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    {% if post_six.image %}
                                    <a class="item-image" href="{{ post_six.get_absolute_url }}">
                                        <img src="{{ post_six.image.url }}" alt="{{ post_six.title }}">
                                    </a>
                                    {% endif %}
                                </div>
                        </div>
                        <header class="item-description">
                            <h2><a href="{{ post_six.get_absolute_url }}">{{ post_six.title }}</a></h2>
                            <div class="item-excerpt">
                                <p>{{ post_six.text|safe|truncatewords:25 }}</p>
                            </div>
                            <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_six.user }}</a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_six.published_date }}"> {{ post_six.published_date| timesince }} önce</time>
                                </div>
                        </header>
                    </div>
                </article>
                {% endif %}
            </div>
            <div class="item post tag-typography tag-hash-list tag-hash-blue color">
                <article class="appear">
                        <div class="item-container">
                            <header class="item-description">
                                <h2><a href="{{ post_five.get_absolute_url }}">{{ post_five.title }}</a></h2>
                                <div class="item-excerpt" style="color:#fff">
                                    <p style="color:#fff">{{ post_five.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_five.user }}</a>  tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_five.published_date }}"> {{ post_five.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                    </article>
            </div>
            <div class="item post tag-art tag-exhibition">
                <article class="appear">
                    <div class="item-container">
                        <div class="item-container-img">
                            <div class="appear-img">
                                {% if post_four.image %}
                                    <a class="item-image" href="{{post_four.get_absolute_url }}">
                                        <img src="{{ post_four.image.url }}" alt="{{ post_four.title }}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <header class="item-description">
                                <h2><a href="{{ post_four.get_absolute_url }}">{{post_four.title  }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{ post_four.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_four.user }} </a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_four.published_date|timesince }}"> {{ post_four.published_date |timesince }} önce</time>
                                </div>
                            </header>
                    </div>
                </article>
            </div>
            <div class="item post tag-typography tag-design tag-hash-red tag-hash-list color">
                <article class="appear">
                    <div class="item-container">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    {% if post_three.image %}
                                    <a class="item-image" href="{{post_three.get_absolute_url }}">
                                        <img src="{{ post_three.image.url }}" alt="{{ post_three.title }}">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        <header class="item-description">
                                <h2><a href="{{ post_three.get_absolute_url }}">{{ post_three.title }}</a></h2>
                                <div class="item-excerpt" style="color:#fff">
                                    <p style="color:#fff"> {{ post_three.text| safe | truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_three.user }} tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_three.published_date}}"> {{ post_three.published_date|timesince }} önce</time>
                                </div>
                        </header>
                    </div>
                </article>
            </div>
            <div class="item post tag-hash-yellow color">
                <article class="appear">
                        <div class="item-container">
                            <header class="item-description">
                                <h2><a href="{{ post_two.get_absolute_url }}">{{ post_two.title }}</a></h2>
                                <div class="item-excerpt" style="color:#fff">
                                    <p style="color:#fff">{{post_two.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_two.user }}</a> tarafından yazıldı
                                    <br>
                                    <time datetime="{{ post_two.published_date }}"> {{ post_two.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                    </article>
            </div>
            <div class="item post tag-interior featured">
                <article class="appear">
                    <div class="item-container last">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    {% if post_one.image %}
                                    <a class="item-image" href="{{post_one.get_absolute_url }}">
                                        <img src="{{ post_one.image.url }}" alt="{{ post_one.title }}">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        <header class="item-description">
                            <h2><a href="{{ post_one.get_absolute_url }}">{{ post_one.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p>{{ post_one.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post_one.user }} </a> tarafından yazıldı
                                    <br>
                                    <time datetime="2{{ post_one.published_date }}">{{ post_one.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                </article>
            </div>
        </div>

    </div>

{% endblock %}