{% extends 'baseblog.html' %}
{% load static %}

{% block body %}post-template tag-interior tag-architecture tag-design{% endblock %}


{% block content %}
        <div class="post-wrap">
            <div class="post-featured-image" style="background-image: url('{{ post.image.url }}')"></div>
            <div class="post-content-wrap">
                <div class="post-header">
                    <h1 class="post-title">{{ post.title }}</h1>
                    <div class="item-meta post">
                            <a href="https://www.sumeyyeozkaynak.me/hakkimda" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                            <a href="https://www.sumeyyeozkaynak.me/hakkimda">{{ post.user }}</a> tarafından yazıldı
                            <br>
                        <time datetime="{{ post.published_date }}"> {{ post.published_date}}</time>
                    </div>
                </div>
                <div class="post-content">
                    <div class="kg-card-markdown">
                        <p>{{ post.text|safe }}</p>
                    </div>
                    <div class="post-meta">
                        <div class="left">

                        </div>

                        <!--<div class="right">
                            Tags: <a href="../tag/interior/index.html">Interior</a>, <a href="../tag/architecture/index.html">Architecture</a>, <a href="../tag/design/index.html">Design</a>
                        </div>-->
                    </div>
                </div>
                <!--Article Yorum sistemi 5.0 (end)-->
             <h3>Yorum Ekle:</h3>
              {% include 'blog/comment.html' %}
             <hr>
             {% for comment in post.comments.all %}
                <h7 style="font-size: medium">{{ comment.name }}| <small style="color: grey">{{ comment.created_date|timesince }} önce</small></h7>
                <h7 style="font-size: medium">{{ comment.content|linebreaks }}</h7>
                 <hr/>
             {% endfor %}
            </div>


        </div>


         <div class="disqus"></div>
    </div>
</body>
{% endblock %}