{% extends 'baseblog.html' %}
{% load static %}

{% block body %}post-template tag-interior tag-architecture tag-design{% endblock %}

{%block head-logo %}<small>Blog</small>{% endblock %}
{% block content %}

<div class="masonry-wrap">

    <div class="masonry">
    {%  for topic in topics %}
        {% for post in topic.topics.all %}
        <div class="item post tag-interior featured">
                <article class="appear">
                    <div class="item-container last">
                        <div class="item-container-img">
                                <div class="appear-img">
                                    {% if post.image %}
                                    <a class="item-image" href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        <header class="item-description">
                            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                <div class="item-excerpt">
                                    <p >{{ post.text|safe|truncatewords:25 }}</p>
                                </div>
                                <div class="item-meta">
                                    <a href="" class="author-image item-image" style="background-image: url('{% static 'images/user-photo.png' %}')"></a>
                                    <a href="">{{ post.user }} </a>tarafından yazıldı
                                    <br>
                                    <time datetime="2{{ post.published_date }}">{{ post.published_date|timesince }} önce</time>
                                </div>
                            </header>
                        </div>
                </article>
        </div>
        {% endfor %}
    {% endfor %}
    </div>


    </div>
   <div class="pagination-wrap" role="navigation">
           <div class="pagination">
                <span class="step-links">
                {% if post.has_previous %}
                     <a href="?sayfa={{ post.previous_page_number }}">previous</a>
                {% endif %}

                 <span class="current">
                 Page {{ post.number }} of {{ post.paginator.num_pages }}.
                 </span>

                 {% if post.has_next %}
                     <a href="?sayfa={{ post.next_page_number }}">next</a>
                {% endif %}
                 </span>
            </div>
        </div>
{% endblock %}