{% extends 'base.html' %}
{% load static %}

{% block body_name %} class="" {% endblock %}

{% block header %}
    <a class="page-link" href="http://127.0.0.1:8000/myworkandresearch/artificial-intelligence/">Artificial Intelligent</a>
    <a class="page-link" href="http://127.0.0.1:8000/myworkandresearch/industrial-engineering">Industrial Engineering</a>
    <a class="page-link" href="http://127.0.0.1:8000/myworkandresearch/project-manangement/">Project Manangement</a>
    <a class="page-link" href="https://medium.com/@sumozkaynak">Medium</a>
    <a class="page-link" href="https://github.com/sozkaynak">GitHub</a>
{% endblock %}

{% block content %}
<!-- Page Content -->
    <div class="container-fluid contents">
<!-- Content Row -->
      <div class="row">
<!-- Sidebar Column -->
      {% for category in categories%}
          <div id="side-nav-container" class="col-sm-3">
          <ul id="mysidebar" class="nav">
             {% for subject in category.subject_set.all %}
              <li class="sidebar-title">

                  <a href="{% url 'myworkandresearch:subject' category_slug=category.slug subject_slug=subject.slug %}"style="color:black ">
                    <li>{{subject.name}}</li>
                  </a>
              </li>

                    <ul class="sidebar-items">
                        {% for article in subject.article_set.all %}
                      <li>

                            <a href="{% url 'myworkandresearch:detail' category_slug=category.slug subject_slug=subject.slug article_slug=article.slug %}" style="color:darkgray ">{{article.title}}</a>

                      </li>
                        {% endfor %}
                    </ul>

              {% endfor %}
          </ul>
        </div>

      {% endfor %}

<!-- Content Column -->
        <div class="col-sm-9 main-contents">
      {% if category.name %}
        <div class="main-contents-body">
            <article class="post-content">
                <header class="post-header">
              <!-- <div class="btn-group contribute" role="group">
                 <a href="https://github.com/flutter/website/blob/master/gestures.md" class="btn btn-sm">
                    <i class="fa fa-pencil"></i> Edit Source
                 </a>
                 <a href="https://github.com/flutter/flutter/issues/new?title=Issue from website page Taps, drags, and other gestures in Flutter&body=From URL: https://flutter.io/gestures.md&labels=dev: docs - website" class="btn btn-sm">
                    <i class="fa fa-github"></i> File Issue
                 </a>
              </div>-->
              <div>
                <h1 class="post-title">{{category.name}} </h1>
              </div>
           </header>
              <!--
              <ul id="markdown-toc">
              <li><a href="#introduction" id="markdown-toc-introduction">Introduction</a></li>
              <li><a href="#pointers" id="markdown-toc-pointers">Pointers</a></li>
              <li><a href="#gestures" id="markdown-toc-gestures">Gestures</a>    <ul>
                  <li><a href="#gesture-disambiguation" id="markdown-toc-gesture-disambiguation">Gesture disambiguation</a></li>
                </ul>
              </li>
            </ul>
              -->

                {{category.text|safe|linebreaksbr}}
            </article>
        <!--Category Yorum sistemi 5.0 (end) -->
        <h3>Yorum Ekle:</h3>
              {% include 'myworkandresearch/comment.html' %}
             <hr>
             {% for comment in category.comments.all %}
                <h4>{{ comment.name }}| <small style="color: grey">{{ comment.created_date|timesince }} önce</small></h4>
                <p>{{ comment.content|linebreaks }}</p>
                <hr/>
             {% endfor %}
          </div>
        {% endif %}
        </div>

      </div>
      </div>
<!-- /.row -->
    </div>
<!-- /.container -->
{% endblock %}

{% block footer %}
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <img src="{% static 'images/logoweb.png' %}" alt="Logo" width="100" height="100">
                </div>
                <p class="site-footer__link-list">
                    <a href="https://medium.com/@sumozkaynak">Medium@</a> &bull;
                    <a href="https://github.com/sozkaynak/">github</a> &bull;
                    <a href="https://twitter.com/sumeyyeozkaynak">twitter</a> &bull;
                    <a href="https://instagram.com/afafet">instagram</a>
                </p>
                <p class="licenses">
                    FATIR/28- “Allah’tan,kulları arasında ancak bilginler korkar.” <br>
                    “İlim elde etmek her Müslüman kadına ve erkeğe farzdır.”
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
