{% extends 'base.html' %}
{% load static %}

{% block body_name %} class="homepage"
{% endblock %}

{% block header %}
             <a class="page-link" href="http://127.0.0.1:8000/myworkandresearch">My Work & Research</a>
             <a class="page-link" href="http://127.0.0.1:8000/blog">Blog</a>
{% endblock %}

{% block content %}
<div class="container-fluid contents">
      <!-- Content Row -->
      <div class="row">
        <!-- Homepage Content Column -->
      <div class="col-sm-12 main-contents">
          <div class="main-contents-body">
            <article class="post-content">
              <div class="homepage__illustration">
                <h1 class="homepage__illustration--text">
                    <span style="margin-bottom:5%"></span>
                    &nbsp;
                    <!--<a href="https://medium.com/@sumozkaynak">Learn More</a>-->
                </h1>
              </div>
               <section class="homepage__beautiful_uis card ">
    <h1 style="padding-top: 3%; color:black">HAKKIMDA</h1>
    <p style=" margin: auto">
        6 Ocak 1995'te Kahire'de doğdum. İlkokul/Ortaokul/Liseyi fırsatı buldum. Üniversite toplulukları, organizasyonlar, şenlikler ve proje gruplarında aktif bir şekilde görev alarak kendimi bir çok konuda
        gelişirmeye ve zamanımı bereketli olmasına özen göserdim. Bir çok konuya olan merakım ve ilgim zamanla yönümü bir konuda uzmanlaşması yönünde daha sağlıklı karar vermemi sağladı.
        İlgilendiğim tüm bölümlerin arasında yazılım sektörü daha ağır bastığı için ve bu yönde bir yeteneğim
        olduğunu fark ettim. Bireysel olarak bu alanda geliştirmek için araştırmalara başladım.

    </p>
    <p>
   Linkedin hesabım için <a href="https://www.linkedin.com/in/s%C3%BCmeyye%C3%B6zkaynak/">buraya tıklayınız</a>.
    </p>
</section>
              </article>

          </div>
        </div> </div> <!-- /.row -->
    </div>
{% endblock %}


{% block footer %}
 <footer class="site-footer" style="background: black">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="logo">
                      <img src="{% static 'images/logoweb.png' %}" alt="Logo" width="100" height="100">
                    </div>
                      <p class="site-footer__link-list">
                        <a href="https://medium.com/@sumozkaynak">Medium@</a> &bull;
                        <a href="https://github.com/sozkaynak/">github</a> &bull;
                        <a href="https://twitter.com/sumeyyeozkaynak">twitter</a> &bull;
                        <a href="https://instagram.com/afafet">instagram</a>
                      </p>

                      <p class="licenses">
                         FATIR/28- “Allah’tan,kulları arasında ancak bilginler korkar.” <br>
                         “İlim elde etmek her Müslüman kadına ve erkeğe farzdır.”
                      </p>
                  </div>
                </div>
              </div>
{% endblock %}


